{% extends 'base.html' %}



{% block content %}


<div class="container">
        <div class="jumbotron jumbotron">
                <div class="container">
                  <h3 class="display-4">Hey {{current_user.username}}!</h3>
                  <p>Welcome to Journal! Start posting your articles.</p> 
                <button><a href="{{url_for('main.post')}}">Post article</a> </button>
                </div>
              </div>
</div>
{% for post in posts %}
             <ul>
               <li>{{post.post}}</li>
             </ul>
             
             {% endfor %}
{% endblock %}